<% content_for :packs do %>
<% end %>
<input id="user_json" type="hidden" value="<%= @user.to_json %>">

<h1>Profile</h1>

<h2>Pending Invites</h2>
<% @user.pending_invites.each do |p| %>
  <p>Game Name: <%= p.game.name %></p>

  <%= form_for @user, url: { action: 'accept_invite', id: @user.id } do %>
    <input type="hidden" name="invite_id" value="<%= p.id %>">
    <input type="submit" value="Accept">
  <% end %>

  <%= form_for @user, url: { action: 'decline_invite', id: @user.id } do %>
    <input type="hidden" name="invite_id" value="<%= p.id %>">
    <input type="submit" value="Decline">
  <% end %>

<% end %>
