<p>
  <%= link_to 'Start game', start_game_path(@game) %>
</p>

<p>
  <strong>Game Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Game Owner:</strong>
  <%= @game.user.username %>
</p>

<div>
  <strong>Game Settings:</strong>
  <p>Turn Length: <%= @game.game_setting.turn_length %> hrs</p>
  <p>Skip Weekend Turns: <%= @game.game_setting.weekend_skip %></p>
  <p>Allow Illegal Moves: <%= @game.game_setting.allow_illegal_moves %></p>
</div>

<div>
  <strong>Invites</strong>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Invite Status</th>
      </tr>
    </thead>
    <tbody>

      <% @game.game_players.each do |player| %>
        <tr>
          <td><%= player.user.username %></td>
          <td><%= player.invite_status.capitalize %></td>

          <% if player.user.id == current_user.id && player.pending %>
            <td>
              <%= form_for current_user,
                  url: { controller: 'users', action: 'accept_invite', id: current_user.id, method: 'patch' } do %>
                <input type="hidden" name="invite_id" value="<%= player.id %>">
                <input type="submit" value="Accept">
              <% end %>
            </td>

            <td>
              <%= form_for current_user,
                  url: { controller: 'users', action: 'decline_invite', id: current_user.id, method: 'patch' } do %>
                <input type="hidden" name="invite_id" value="<%= player.id %>">
                <input type="submit" value="Decline">
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @game.user == current_user && @game.remaining_slots > 0 %>
    <%= form_tag( controller: 'games', action: 'invites', method: 'post' ) %>
      <% (1..@game.remaining_slots).each do |invite_count| %>
        <div class="form-control">
          <label for="invite_<%= invite_count %>">Invite another player</label>
          <input id="invite_<%= invite_count %>" name="invites[]" type="text" />
        </div>
      <% end %>
      <%= submit_tag 'Send invites' %>
  <% end %>
</div>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

