<h1>New Game</h1>

<%= form_for @game, url: { action: 'create' } do |f| %>
  <%= render "devise/shared/error_messages", resource: @game %>

  <%= label_tag :name, 'Game Name' %>
  <%= f.text_field :name %>

  <fieldset>
    <legend>Invite up to 6 players</legend>
    <p>Add by username, email, or user ID</p>

    <% (1..6).each do |invite_count| %>
      <div class="form-control">
        <label for="invite_<%= invite_count %>">Invite #<%= invite_count %></label>
        <input id="invite_<%= invite_count %>" name="invites[]" type="text" />
      </div>
    <% end %>

  </fieldset>

  <fieldset>
    <legend>Settings</legend>

    <%= f.fields_for :game_setting do |setting| %>

    <fieldset>
      <legend>Turn Length</legend>
      <%= setting.radio_button :turn_length, '4' %>
      <%= setting.label :turn_length_4, '4 Hours' %>

      <%= setting.radio_button :turn_length, '8' %>
      <%= setting.label :turn_length_8, '8 Hours' %>

      <%= setting.radio_button :turn_length, '12' %>
      <%= setting.label :turn_length_12, '12 Hours' %>

      <%= setting.radio_button :turn_length, '24' %>
      <%= setting.label :turn_length_24, '24 Hours' %>
    </fieldset>

    <%= setting.check_box :weekend_skip %>
    <%= setting.label :weekend_skip, 'Skip weekend turns?' %>

      <%= setting.check_box :allow_illegal_moves %>
      <%= setting.label :allow_illegal_moves, 'Allow Illegal Moves?' %>
    <% end %>
  </fieldset>

  <%= f.submit 'Continue' %>
<% end %>

<%= link_to 'Cancel', url_for( :back ) %>
