<h1>New Game</h1>

<%= form_for @game, url: { action: 'create' } do |f| %>
  <%= label_tag :name, 'Game Name' %>
  <%= f.text_field :name %>

  <%= f.submit 'Continue' %>
<% end %>

<%= link_to 'Cancel', url_for( :back ) %>
